@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ------------------- typing effect ------------------- */
.typing-effect-white {
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(rgb(173, 161, 161),white);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  animation: typing 6s linear;
  animation-delay: 2s;
  position: relative;
}

@keyframes typing{
  0%,10%,100%{
    background-position: -33em 0;
    webkit-text-stroke: 0;
  }
  65%,85%{
    background-position: 0 0;
  }
}

/* 霧化home page與下一個page的接觸區塊 */
.blur-boundary::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #FAFBFC, transparent);
  z-index: 10;
}
.blur-boundary-dark::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0f0f0f, transparent);
  z-index: 10;
}

/*  */
.home-text-font-fam {
  font-family: 'Oooh Baby', sans-serif;
}



/* ------------------- btn style ------------------- */
.btn {
  border-color: #ffffff;
  padding: 3px 15px;
  cursor: pointer;
  font-size: 1em;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(175, 173, 173);
  background-image: linear-gradient(45deg, transparent 50%, #969191 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 400ms ease-in-out, color 400ms ease-in-out;
  transition: background 400ms ease-in-out, color 400ms ease-in-out;
}
.btn:hover {
  background-position: 100%;
}
.btn-loading{
  padding: 3px 15px;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(170, 170, 170);
}
.btn-success {
  padding: 3px 15px;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgb(185, 163, 163);
}

/* ------------------- input style ------------------- */
.inpt {
  color: rgb(155, 151, 151);
  background-color: #F3F4F6;
}
.inpt:-webkit-autofill {
  -webkit-text-fill-color: rgb(155, 151, 151) !important;
  -webkit-box-shadow: 0 0 0 1000px #F3F4F6 inset !important;
}
.inpt-dark {
  color: white;
  background-color: #636366;
}
.inpt-dark:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 1000px #636366 inset !important;
}


/* ------------------- loading style ------------------- */
.loading::after {
  content: '...';
  animation: dots 1s infinite;
}

@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}


/* headerCover */

.headerCover {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #0f0f0f;
	position: fixed;
	left: 0;top: 0;
	z-index: 100;
	width: 100%;height: 100%;
}
.quote {
	font-size: 28px;
	color: white;
	margin-bottom: 10px;
}
.char {
	display: inline-block;
	letter-spacing: 2px;
	font-family: 'Moon Dance';
	opacity: 0;
}
.loadingBar {
	position: relative;
	margin-top: 20px;
	width: 100vw;
	height: 1px;
	border-radius: 5px;
	background-color: rgba(#000,.1);
	overflow: hidden;
}
.loadingValue {
	position: absolute;
	background-color: white;
	width: 0;height: 3px;
}